 .grey-box{
   
  display: flex;
  flex-direction:column;
  background-color: rgb(154, 155, 157);
  width: 50%;
}

.MainClass {
  padding: 2rem;
  text-align: center;
  color: whitesmoke;
}

.split {
 display: flex;
 flex-direction: column;
}

.subFirstClass {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}


.subFirstClass .firstOne {
  background-color: darkorange;
  padding: 2rem;
}

.subFirstClass .secondOne {
  background-color:lightblue ;
  padding: 2rem;
}



