
*{
    font-style: sans;

}
.card{
   
    border: 1px solid #9a9b9d;
    width: 50%;
   
    flex-direction: column;

}

.card-title{
    border-bottom: 0;
    padding-left:10px;
    align-items: right;
}

/*.card:hover{
    box-shadow: 1px 1px 4px rgb(89, 18, 82);
}*/

.body-children{
    background-color: yellowgreen;
    padding-top: 35px;
    
    border:20px solid yellowgreen;
    margin: 30px 30px 30px 30px;
    width:37%;
}



