
*{
    font-style: sans;

}
.card{
    background-color: rgb(154, 155, 157);
    border: 1px solid white;
    border-radius: 8px ;
    box-shadow: 2px 2px 8px white;
    flex-direction: row;

}

.card-title{
    border-bottom: 0.5px ;
    padding-left:10px;
    align-items: right;
}

.card:hover{
    box-shadow: 1px 1px 4px rgb(89, 18, 82);
}

.body-children{
    background-color: yellowgreen;
    padding-top: 35px;
    
    border:20px solid yellowgreen;
    margin: 30px 30px 30px 30px;
    width:37%;
}

.row-two{
    background-color: rgb(206, 52, 52);
    border:0 solid;
    height: 150px;
    padding-left: 5px;
    padding-top: 35px;
    margin:30px 30px 30px 30px;
    width:45%;
    position:relative;
    top:30%;
    right:0%;    
    

}

.row-three{
    background-color: rgb(133, 87, 87);
    border:0 solid;
    height: 150px;
    padding-left: 5px;
    padding-top: 35px;
    margin:30px 30px 30px 30px;
    width:45%;
    justify-items: right;
}



.box-model{
    
}