.card{
    background-color: aquamarine;
    border: 1px solid white;
    border-radius: 8px ;
    box-shadow: 2px 2px 8px white;
}

.card-title{
    border-bottom: 1px solid;
    padding: 5px 15px;
}

.card:hover{
    box-shadow: 1px 1px 4px rgb(89, 18, 82);
}

.body-children{
    padding: 15px;
}